/* Write your CSS here */
.home-light-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.home {
  height: 60px;
}

.heading-light {
  color: #333333;
}

.home-dark-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #000000;
}

.heading-dark {
  color: #ffffff;
}
